version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: lms-database
    environment:
      POSTGRES_DB: library_db
      POSTGRES_USER: library_user
      POSTGRES_PASSWORD: library_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./src/main/resources/db/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    restart: always

volumes:
  postgres-data:
